:root {
  /* colors */
  --clr-rose-800: rgb(122, 40, 78);
  --clr-rose-50: rgb(255, 247, 251);
  --clr-stone-900: rgb(49, 46, 44);
  --clr-stone-600: rgb(95, 86, 77);
  --clr-stone-150: rgb(227, 221, 215);
  --clr-stone-100: rgb(243, 229, 215);
  --clr-brown-800: rgb(133, 70, 50);
  --clr-white: rgb(255, 255, 255);
  
  /* Typography */
  --text-1-desktop: 2.5rem;
  --text-1-mobile: 2.25rem;
  --text-2: 1.75rem;
  --text-3: 1.25rem;
  --text-4: 1rem;

  /* Spacing */
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-1600: 128px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  background-color: var(--clr-stone-100);
  line-height: 1.5;
  display: grid;
  justify-items: center;
  align-content: center;
  padding: 2rem;

  font-family: "Outfit", sans-serif;
  color: var(--clr-stone-600);
}

.recipe {
  max-width: 735px;
  background-color: var(--clr-white);

}

main {
  padding: var(--spacing-500) var(--spacing-400);
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--text-1-mobile);
  color: var(--clr-stone-900);
  margin-bottom: var(--spacing-300);
}

h2 {
  color: var(--clr-brown-800);
  font-size: var(--text-2);
  font-weight: 400;
  margin-bottom: var(--spacing-300);
}

.recipe-preparation {
  padding: var(--spacing-300);
  background-color: var(--clr-rose-50);
}

.recipe-preparation h2 {
  margin-top: 0;
  margin-bottom: var(--spacing-200);
  color: var(--clr-rose-800);
  font-weight: 600;
  font-size: var(--text-3);
  font-family: "Outfit", sans-serif;
}

section {
  margin-bottom: var(--spacing-400);
}

ul,
ol {
  padding-left: var(--spacing-300);
}

li {
  padding-left: var(--spacing-200);
}

li:not(:last-of-type) {
  padding-bottom: var(--spacing-100);
}

li span {
  font-size: var(--text-4);
  font-weight: 700;
  color: var(--clr-stone-600);
}

li::marker {
  color: var(--clr-rose-800);
}

table {
  margin-top: var(--spacing-300);
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

tr:not(:last-of-type) {
  border-bottom: 1px solid var(--clr-stone-150);
}

td {
  padding-top: var(--spacing-150);
}

td:first-of-type {
  padding-left: var(--spacing-400);
}

td + td {
  font-size: var(--text-4);
  font-weight: 700;
  color: var(--clr-brown-800);
  padding-bottom: var(--spacing-150);
}

hr {
  margin-bottom: var(--spacing-400);
  color: var(--clr-stone-150);
}

@media (min-width: 38.6em) {
  
  main {
    padding: 0;
  }

  .recipe {
    padding: var(--spacing-500);
    border-radius: var(--spacing-300);
  }

  img {
    margin-bottom: var(--spacing-500);
    border-radius: var(--spacing-300);
  }
  
  h1 {
    font-weight: 400;
    line-height: 1;
    font-size: var(--text-1-desktop);
  }

  h2 {
    line-height: 1;
  }
}